.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
  .my-0.mr-md-auto.font-weight-normal
    = link_to root_path do
      %h5
        = translate(:"titles.app_name")
  %nav#top_nav.my-2.my-md-0.mr-md-3
    = link_to("Sensor Map", root_path, class: "p-2 text-dark")
    = link_to("About Us", about_path, class: "p-2 text-dark")
    = link_to("Contact", contact_path, class: "p-2 text-dark")
    = link_to_if(user_signed_in?, "Dashboard", dashboard_root_path, class: "p-2 text-dark") do
      = link_to("Login", new_user_session_path, class: "p-2 text-dark")
