= content_tag_for(:tr, callout, data: { clickable_link: show_location(callout) }) do
  %td
    = callout.id
  %td
    = callout_status_badge(callout)
  %td
    = callout_trigger_method_badge(callout)
  %td
    %code
      = location_names(callout.province_id, Pumi::Province)
  %td
    %code
      = translate("simple_form.options.defaults.call_flow_logic.#{callout.call_flow_logic}")
  %td
    = callout.created_at
