var redIcon = L.icon({
		iconUrl: '<%= asset_path('map-marker-red.png') %>',
		iconSize: [25, 41],
		iconAnchor: [16, 37],
		popupAnchor: [0, -28]
	});
var greenIcon = L.icon({
		iconUrl: '<%= asset_path('map-marker-green.png') %>',
		iconSize: [25, 41],
		iconAnchor: [16, 37],
		popupAnchor: [0, -28]
	});
var greyIcon = L.icon({
		iconUrl: '<%= asset_path('map-marker-grey.png') %>',
		iconSize: [25, 41],
		iconAnchor: [16, 37],
		popupAnchor: [0, -28]
	});
var yellowIcon = L.icon({
		iconUrl: '<%= asset_path('map-marker-yellow.png') %>',
		iconSize: [25, 41],
		iconAnchor: [16, 37],
		popupAnchor: [0, -28]
	});
var orangeIcon = L.icon({
		iconUrl: '<%= asset_path('map-marker-orange.png') %>',
		iconSize: [25, 41],
		iconAnchor: [16, 37],
		popupAnchor: [0, -28]
	});
var blueIcon = L.icon({
		iconUrl: '<%= asset_path('map-marker-blue.png') %>',
		iconSize: [25, 41],
		iconAnchor: [16, 37],
		popupAnchor: [0, -28]
	});

$( document ).on('turbolinks:load', function() {
  var map = L.map('map').setView([12.4031626,105.7709708], 7);

  L.tileLayer('https://api.mapbox.com/styles/v1/pintiadmin/cjmhgktg36qla2sltkn1tik4n/tiles/256/{z}/{x}/{y}@2x?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    minZoom: 7,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoicGludGlhZG1pbiIsImEiOiJjam1oZnFoOWMwN3JnM3BwenR4dXRqdXU3In0.T_yiOVt7RbRe2VTDns2EMg'
  }).addTo(map);

  $.get('/geojson/sensors', function(data) {
    L.geoJSON(data, {
      pointToLayer: function (feature, latlng) {
				if(feature.properties.status == 'active')
        	return L.marker(latlng, {icon: greenIcon});
				if(feature.properties.status == 'watch')
        	return L.marker(latlng, {icon: yellowIcon});
				if(feature.properties.status == 'warning')
        	return L.marker(latlng, {icon: orangeIcon});
				if(feature.properties.status == 'severe_warning')
        	return L.marker(latlng, {icon: redIcon});
				if(feature.properties.status == 'inactive')
        	return L.marker(latlng, {icon: greyIcon});
				if(feature.properties.status == 'planned')
        	return L.marker(latlng, {icon: blueIcon});
      },
			onEachFeature(feature, layer) {
				var last6 = "View Table - Last 6 hours" ;
				var layout = "<iframe id='iframe'  frameBorder='0' src='<%= asset_path( 'sensorGraph.html' ) %>'></iframe>";
				var last30 = "View Table - Last 30 days"
				var popupContent = "<p>" + layout + last6 + "</br>"+ last30 +"</p>";
				layer.bindPopup(popupContent);
			
			}
    }).addTo(map)
  })
});
